.header{
    height:120px;
    background-image: linear-gradient(180deg,#F6402D,#FE6332);
}
.header__navbar{
    display: flex;
    justify-content: space-between;

}

.header__navbar-list{
 padding-left: 0;

}

.header__navbar-item{
position: relative;
display: inline-block;
margin: 0 8px;

}
.header__navbar-item,
.header__navbar-item-link{
    text-decoration: none;
    list-style: none;
    font-size: 1.4rem;
    color: var(--white_color);
    font-weight: 300;
}
.header__navbar-item--bold{
    font-weight: 400;
}
.header__navbar-item--separate::after{
    content:"";
    display: block;
    position: absolute;
    border-left: 1px solid #F96C5C;
    height: 14px;
    right: -9px;
    top:50%;
    transform: translateY(-50%);
}
.header__navbar-item--icon{
    color: var(--white_color);
    font-size: 16px;
    
}